* {
    margin: 0;
    padding: 0;
}

body {
     background-image: url("https://t4.ftcdn.net/jpg/02/52/16/95/240_F_252169566_0hYhfxzUzQYDYgh231YdAhQDkN9ckdGa.jpg");
     margin: 0;
}

.grid_container {
     display: grid;
     grid-template-columns: 1fr 0.4fr;
     grid-template-rows: 50px 70px 500px 200px 400px 100px;
     gap: 0px 0px;
     grid-template-areas:
     "he he"
     "na na"
     "se1 se1"
     "ma as"
     "se2 se2"
     "fo fo";
   }

.he { 
     grid-area: he;
     background-color: rgb(1, 32, 44);
     color: white;
     text-align: center;
     font-family: sans-serif;
     padding-top: 5px;
}

/* Styling för navigationsystemet */
.topnav {
     grid-area: na;
     color: white;
     overflow: hidden;
     background-color: #333;
}
   
.topnav a {
     float: left;
     color: white;
     text-align: center;
     padding: 35px 40px;
     text-decoration: none;
     font-size: 25px;
     font-family: sans-serif;
   }
   
.topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   
.topnav a.active {
     background-color: #f11760;
     color: white;
   }

.ma {
     grid-area: ma; 
     background-color:rgb(211, 210, 210);
     margin: 10px;
}
.as {
     grid-area: as;
     background-color:rgb(211, 210, 210);
     margin: 10px;
}

.article {
     grid-area: ar;
}

.se1 {
     grid-area: se1; 
}


.se2 {
     grid-area: se2;
     background-color: rgb(211, 210, 210);
     margin: 10px;
     color: white;
}

/* Styling för footern */
.fo { 
     grid-area: fo;
     background-image: url("https://t4.ftcdn.net/jpg/02/52/16/95/240_F_252169566_0hYhfxzUzQYDYgh231YdAhQDkN9ckdGa.jpg");
     background-repeat: repeat-x;
     display: flex;
     height: 100%;
     width: 100%;
     justify-content: center;
     align-items: center;
}

.ul_taggar {
     display: flex;
     height: 100%;
     width: 100%;
     list-style-type: none;
     justify-content: flex-start;
     align-items: center;
}

#dokumentation {
     text-decoration: none;
     color: white;
     font-size: 35px;
     font-weight: bold;
}

#dokumentation:hover {
      text-decoration: underline;
}


/* Styling för "Om oss" sidan med CSS */
#grid_wrapper_om_oss {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 50px 70px 900px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

#article_om_oss {
     background-color: rgb(99, 98, 98);
     margin: 10px 40px 10px 40px;
     border-radius: 10px;
     padding: 10px;
     font-size: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
}

#footer_om_oss {
     grid-area: fo;
}


/* Styling för "Bilder" sidan med CSS grid */
#grid_wrapper_bilder {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 50px 70px 500px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

 #article_bilder {
     background-color: rgb(99, 98, 98);
     margin: 10px 40px 10px 40px;
     border-radius: 10px;
     padding: 10px;
     font-size: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
}  

/* Styling för "hjälp" sidan med CSS grid */

#grid_wrapper_help {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 50px 70px 930px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

#help-survey {
     height: 700px;
     width: 100%;
     border: 0;    
}   

#article_help {
     margin: 10px;
     margin-top: 20px;
     border-radius:10px; 
     background-color: white; 
     padding: 30px;
}

#h1_help {
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling för "kontakt" sidan med CSS grid */

#grid_wrapper_kontakt {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 50px 70px 850px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

#article_kontakt {
     background-color: white;
     margin: 10px 40px 10px 40px;
     border-radius: 10px;
     padding: 10px;
     font-size: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: black;
     text-align: center;
}