* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-image: url("https://t4.ftcdn.net/jpg/02/52/16/95/240_F_252169566_0hYhfxzUzQYDYgh231YdAhQDkN9ckdGa.jpg");
}

.he { 
     grid-area: he;
     background-color: rgb(1, 32, 44);
     color: white;
     font-family: sans-serif;
     padding-top: 15px;        
     text-align: center;
}

/* Styling för navigationsystemet */
.topnav {
     grid-area: na;
     color: white;
     overflow: hidden;
     background-color: #333;
}
   
.topnav a {
     float: left;
     color: white;
     text-align: center;
     padding: 35px 40px;
     text-decoration: none;
     font-size: 25px;
     font-family: sans-serif;
}
   
.topnav a:hover {
     background-color: #ddd;
     color: black;
}
   
.topnav a.active {
     background-color: #f11760;
     color: white;
}

.ma {
     grid-area: ma; 
}

.as {
     grid-area: as;
}

.article {
     grid-area: ar;
}

.se1 {
     grid-area: se1; 
}

.ul_taggar {
     display: flex;
     height: 100%;
     width: 100%;
     list-style-type: none;
     justify-content: flex-start;
     align-items: center;
}

/* Styling för footern */
.fo { 
     grid-area: fo;
     background-image: url("https://t4.ftcdn.net/jpg/02/52/16/95/240_F_252169566_0hYhfxzUzQYDYgh231YdAhQDkN9ckdGa.jpg");
     background-repeat: repeat-x;
     display: flex;
     height: 100%;
     width: 100%;
     justify-content: center;
     align-items: center;
}

#dokumentation {
     text-decoration: none;
     color: white;
     font-size: 35px;
     font-weight: bold;
}

#dokumentation:hover {
      text-decoration: underline;
}

/* Styling för "index" sidan med CSS */

#grid_wrapper_index {
     display: grid;
     grid-template-columns: 1fr 0.5fr;
     grid-template-rows: 70px 70px 500px 300px 600px 100px;
     gap: 0px 0px;
     grid-template-areas:
     "he he"
     "na na"
     "se1 se1"
     "ma as"
     "se2 se2"
     "fo fo";
   }

#section_1_bild_index {
     height: 480px;
     width: 97%;
     margin: 14px;
     border-radius: 10px;
}

#main_index {
     background-color:rgb(211, 210, 210);
     margin: 10px;
     border-radius: 10px;
}   

#aside_index {
     background-color:rgb(211, 210, 210);
     margin: 10px;
     border-radius: 10px;
     padding: 10px;
}   

#section_2_index {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
     "meny1 meny2" ;
     grid-area: se2;
     background-color: rgb(211, 210, 210);
     margin: 10px;
     border-radius: 10px;
     padding: 10px;
     height: 600px;
}

#meny1 {
     grid-area: meny1;
}

#meny2 {
     grid-area: meny2;
}

#meny1 li {
     font-size: 25px;
     text-decoration: none;
     list-style-type: none;
     padding: px;
}

#meny2 li{
     font-size: 25px;
     text-decoration: none;
     list-style-type: none;
}


/* Styling för "Bilder" sidan med CSS grid */
#grid_wrapper_bilder {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 70px 70px 900px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
}

#flex_parent_bilder {
     display: flex;
     background-color: rgb(99, 98, 98);
     margin: 10px 40px 10px 40px;
     border-radius: 10px;
     flex-wrap: wrap;
}  

#flex_child {
     

}

/* Styling för "Om oss" sidan med CSS */

#grid_wrapper_om_oss {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 70px 70px 900px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

#article_om_oss {
     background-color: rgb(99, 98, 98);
     margin: 10px 40px 10px 40px;
     border-radius: 10px;
     padding: 10px;
     font-size: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
}

#footer_om_oss {
     grid-area: fo;
}

/* Styling för "hjälp" sidan med CSS grid */

#grid_wrapper_help {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 70px 70px 930px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

#help-survey {
     height: 700px;
     width: 100%;
     border: 0;    
}   

#article_help {
     margin: 10px 40px 10px 40px;
     border-radius:10px; 
     background-color: white; 
     padding: 30px;
}

#h1_help {
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling för "kontakt" sidan med CSS grid */

#grid_wrapper_kontakt {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 70px 70px 850px 100px;
     gap: 0px 0px;
     grid-template-areas:
       "he"
       "na"
       "ar"
       "fo";
   }

#article_kontakt {
     background-color: white;
     margin: 10px 40px 10px 40px;
     border-radius: 10px;
     padding: 10px;
     font-size: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: black;
     text-align: center;
}